@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-gradient-to-br from-fuchsia-400  to-violet-500 relative pt-24 min-h-screen bg-no-repeat pb-10;
  }
}

@layer components {
  .app-container {
    @apply w-9/12 mx-auto;
  }
  .btn {
    @apply text-base text-gray-50 font-medium py-1 px-4 rounded-md shadow-md disabled:opacity-90;
  }
  .btn--gradient {
    @apply bg-gradient-to-br from-fuchsia-400 to-fuchsia-600;
  }
  .btn--animate {
    @apply hover:translate-y-0.5 transition-transform active:scale-75;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white shadow-md;
  }
  .glass--blue {
    @apply bg-blue-500 backdrop-blur-md border border-blue-400 shadow-md;
  }
  #userLoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 400px;
    margin: 100px auto 0;
    padding: 20px;
    background-color: rgb(4, 169, 184);
    border-radius: 10px;
  }
  #submitbutton {
    background-color: rgb(91, 211, 255);
  }

  .error-text {
    @apply text-center text-red-600 font-semibold text-4xl;
  }
}
